html {
    font-family: 'LatoLatinWeb';
}

h1 {
    font-family: 'LatoLatinWebBlack';
    font-weight: normal;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: normal;
}

p {
    font-size: 1em;
}

button {
    font-family: 'LatoLatinWeb';
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 32px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: #FFA42E;
        box-shadow: 0px 10px 14px rgba(246, 214, 127, 0.4);
        color: #fff;
        transform: translateY(-6px);
    }

    &:active {
        background-color: #fb8d00;
        transform: translateY(0px);
    }
}

input {
    font-size: 1em;
    border: 1px solid #E5E5E5;
    border-radius: 30px;
    outline: none;
    padding: 14px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;

    &:focus
    {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
}
